/*------------------------------------------------------------------
Project:        Amar
Version:        2.0
Primary use:    Portfolio, Corporate
File Name:      style.css
Author Name:    Md Abul Bashar
Author URI:     https://www.codingbank.com
-------------------------------------------------------------------*/

/*----------------------------------------------------------------
                // Table of contents //
   
        0 Google Fonts CSS
        1 Basic CSS
        2 Header Area
            A Main Menu
        3 About Area
        4 Services Area
        5 Portfolio Area
        6 Team Area
        7 Reviews Area
        8 Footer Area

------------------------------------------------------------------*/


/*---------------------------------------
    0 Google Fonts CSS           
-----------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:400,500');



/*---------------------------------------
    1 Basic CSS           
-----------------------------------------*/
*{margin:0;padding:0;}
.fix{overflow:hidden}
.floatleft{float:left}
.floatright{float:right}
.text-color{color:#e7a839;}
.text-color span{color: #000000;margin-left: 25px;}


/*---------------------------------------
    2 Header Area          
-----------------------------------------*/
.header-area {
    padding-bottom: 200px;
}

.header {}

.header-left {
    display: inline-block;
    background-color: #e7a839;
    border-radius: 0px 0px 200px 0px;
}

.header-left img {
    margin-top: 201px;
    margin-left: 280px;
    border-radius: 500px;
    margin-bottom: -5px;
}

.header-right {
    overflow: hidden;
}

.header-manu {
    text-align: right;
    margin-top: 80px;
    margin-right: 80px;
    position: relative;
}

.header-manu img {}

/*----------------------------
    A Main Menu
-----------------------------*/
.main-manu {
    display: block;
    width: 100%;
    text-align: right;
}

.main-manu ul {

    display: none;
}

.main-manu ul li {
    display: inline-block;
    float: left;
    list-style: none;
}

.main-manu ul li a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 42px;
    color: #e7a839;
}

.mobile-manu {
    position: absolute;
    top: 79px;
    right: 32px;
    display: inline-block;
    margin-right: 117px;
}

.slicknav_menu {
    display: none;
    background: #e7a839;
    padding:0;
}

.user-name h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    margin-top: 210px;
}

.user-name-contant {
    margin-left: 370px;
}

.user-content p {
    color: #444444;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}



/*---------------------------------------
    3 About Area          
-----------------------------------------*/
.about-area {
    width: 100%;
}

.about-left-info {
    width: 50%;
    float: left;
    padding-bottom: 122px;
}

.about-contact {
    margin-left: 130px;
}

.about-info {
    display: inline-block;
    margin-right: 63px;
}

.about-info i {
    color: #e19208;
    float: left;
    display: inline-block;
    margin-right: 10px;
    margin-top: 4px;
}

.about-info p {
    display: inline-block;
    float: left;
    color: #333333;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.about-me {
    margin-left: 130px;
    margin-top: 159px;
}

.about-title {
    width: 720px;
}

.about-singal-title {
    margin-bottom: 30px;
}

.about-title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    text-transform: capitalize;
}

.about-title p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin-bottom: 30px;
    line-height: 30px;
}

.about-title:last-child {
    margin-bottom: 0
}

.about-bottom {
    margin-left: 130px;
    margin-top: 68px;
}

.about-bottom p {}

.about-bottom a {
    text-decoration: none;
    display: inline-block;
    border: 1px solid #dadada;
    color: #666666;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-radius: 50px;
    padding: 20px 37px;
}

.about-right-info {}

.about-right {
    width: 50%;
    display: inline-block;
    background: #f9f9f9;
}

.skill-title {
    padding-top: 200px;
    display: inline-block;
    padding-left: 175px;
}

.skill-title h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
}

.skill-progress {
    width: 602px;
    margin-left: 173px;
    padding-bottom: 178px;
}

.start-progress-ber {
    margin-top: 22px;
}

.signal-progress-ber-area h3 {
    font-size: 18px;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 20px;
}

.signal-progress-ber {
    width: 100%;
    height: 6px;
    background: #444444;
    border-radius: 5px;
    position: relative;
    margin-bottom: 30px;
}

.inner-progress-ber {
    height: 100%;
    background: #e19208;
    border-radius: 5px;
}

.singal-progress-text {
    width: 47px;
    height: 30px;
    border: 1px solid #eec989;
    text-align: center;
    position: absolute;
    top: -54px;
    position: relative;
}

.singal-progress-text:before {
    content: '';
    width: 5px;
    height: 0px;
    position: absolute;
    left: 24%;
    top: 100%;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 11px solid #ecc279;
}

.singal-progress-text:after {
    content: '';
    width: 1px;
    height: 0px;
    position: absolute;
    left: 28%;
    top: 100%;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 10px solid #fff;
}

.singal-progress-text h2 {
    font-size: 14px;
    color: #000000;
    margin-top: 7px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


/*---------------------------------------
    4 Services Area          
-----------------------------------------*/

.services-area {}

.services {}

.services-left {
    width: 50%;
    float: left;
}

.sengal-services:nth-last-child(2n+0) {
    margin-right: 10px
}

.sengal-services:nth-child(n+3) {
    margin-bottom: 0
}

.sengal-services:hover {
    background-color: #e19208;
    transition: 1s;
}

.sengal-services:hover .singal-services-content p {
    color: #fff;
}

.sengal-services:hover .sengal-services-title h2 {
    color: #fff;
}

.sengal-services {
    width: 49.4%;
    float: left;
    background: #f9f9f9;
    margin-bottom: 10px;
    padding-bottom: 99px;
    height: 322px;
    position: relative;
}

.sengal-services-icon {
    text-align: center;
    margin-top: 99px;
    margin-bottom: 29px;
}

.sengal-services:hover .sengal-services-icon-hover {
    display: block;
}

.sengal-services:hover .sengal-services-icon-default {
    display: none;
}

.sengal-services-icon-default {}

.sengal-services-icon-default img {}

.sengal-services-icon-hover {
    display: none;
}

.sengal-services-icon-hover img {}

.sengal-services-title {
    text-align: center;
    margin-bottom: 29px;
}

.sengal-services-title h2 {
    color: #666666;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.singal-services-content {
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

.singal-services-content p {
    color: #666666;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 30px;
}

.services-right {
    overflow: hidden;
    width: 50%;
}

.services-right-title {
    display: inline-block;
    margin-left: 130px;
}

.services-right-title p {
    color: #666666;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    width: 730px;
    font-weight: 400;
    line-height: 30px;
}

.services-right-singal-title {
    margin-top: 267px;
}

.services-right-singal-title h2 {
    font-size: 72px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 45px;
}


/*---------------------------------------
    5 Portfolio Area          
-----------------------------------------*/

.portfolio-area {}

.portfolio {}

.portfolio-left {
    width: 50%;
    float: left;
    padding-bottom: 89px;
}

.singal-portfolio {
    display: inline-block;
    margin-left: 131px;
}

.portfolio-title {
    margin-top: 168px;
}

.portfolio-title h2 {
    font-size: 72px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 45px;
}

.portfolio-content {
    color: #666666;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 723px;
    line-height: 28px;
}

.portfolio-content p {
    margin-bottom: 43px;
}

.portfolio-content:last-child {
    margin-bottom: 0;
}

.portfolio-link {
    margin-top: 68px;
}

.portfolio-link p {}

.portfolio-link a {
    text-decoration: none;
    display: inline-block;
    color: #666666;
    border: 1px solid #666666;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 20px 37px;
    border-radius: 50px;
}

.portfolio-right {
    width: 50%;
    overflow: hidden;
}

.portfolio-right-img {
    display: inline-block;
    float: left;
    position: relative;
}

.portfolio-right-img:hover .portfolio-img-hover {
    display: block;
}

.team-left-img:hover .team-left-img-hover {
    display: block;
    transition: 1s;
}

.portfolio-img-hover {
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0;
    right: 0;
    background: #e19208;
    opacity: 0.8;
    text-align: center;
    display: none;
}

.portfolio-img-hover i {
    color: #fff;
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.portfolio-img-hover img {}



/*---------------------------------------
    6 Team Area          
-----------------------------------------*/
.team-area {}

.team {}

.team-left {
    width: 51%;
    float: left;
}

.team-left-img {
    display: inline-block;
    float: left;
    position: relative;
}

.team-left-img:nth-last-child(2n) {
    margin-right: 5px;
}

.team-left-img-hover {
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0;
    right: 0;
    background: #e19208;
    opacity: 0.8;
    text-align: center;
   display: none; 
}

.team-icon-hover {}

.team-icon-hover i {
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.team-name-hover {position: absolute;bottom: 30px;right: 30px;}

.team-name-hover h2 {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.team-name-hover p {
    font-size: 16px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.team-right {
    overflow: hidden;
    padding-top: 229px;
}

.singal-team-right {
    display: inline-block;
    margin-left: 125px;
}

.team-right-title {}

.team-right-title h2 {
    font-size: 72px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 45px;
}

.team-right-content {}

.team-right-content p {
    color: #666666;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 723px;
    line-height: 30px;
}


/*---------------------------------------
    7 Reviews Area          
-----------------------------------------*/
.reviews-area {}

.reviews {}

.reviews-left {
    width: 50%;
    float: left;
}

.singal-reviews-left {
    margin-left: 87px;
}

.reviews-left-title {
    margin-top: 289px;
}

.reviews-left-title h2 {
    font-size: 72px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 45px;
}

.reviews-left-content {
    padding-bottom: 322px;
}

.reviews-left-content p {
    color: #666666;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 723px;
    line-height: 30px;
}

.client-reviews-slide {
    width: 50%;
    overflow: hidden;
    background-color: #f9f9f9;
    display: inline-block;
    position: relative;
}

.singal-slide {}

.reviews-client-img {
    text-align: center;
    padding-top: 192px;
}

.reviews-client-img img {
    border-radius: 500px;
    border: 1px solid #e39919;
}

.reviews-client-content {
    padding-bottom: 266px;
}

.reviews-client-info {
    text-align: center;
}

.reviews-client-info img {
    margin-top: 30px;
    margin-bottom: 19px;
}

.reviews-client-info p {
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 724px;
    margin: 0 auto;
    line-height: 30px;
}

.reviews-client-info h4 {
    margin-top: 29px;
    margin-bottom: 14px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #e19208;
}

.reviews-client-info h5 {
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}


/*---------------------------------------
    8 Footer Area          
-----------------------------------------*/
.footer-area {
    background-color: #e19208;
}

.client-reviews-slide .owl-dots {
    position: absolute;
    bottom: 173px;
    right: 425px;
}

.client-reviews-slide .owl-dots .owl-dot {
    display: inline-block;
}

.client-reviews-slide .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    background: #cccccc;
    display: inline-block;
    margin-right: 12px;
    border-radius: 100px;
}

.client-reviews-slide .owl-dots .owl-dot.active span {
    background: #e19208;
    width: 12px;
    height: 12px;
}

.footer {
    text-align: center;
}

.footer-top {
    padding-top: 103px;
    padding-bottom: 103px;
    width: 1070px;
    margin: 0 auto;
    border-bottom: 1px solid #f3a111;
}

.footer-icon-con {}

.footer-icon-con p {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    line-height: 30px;
}

.footer-top-icon {
    margin-top: 40px;
}

.footer-top-icon a img {
    color: #fff;
    margin-right: 23px;
}

.footer-bottom {}

.footer-bottom p {
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
