/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
.column {width:750px}
.floatleft{float:none;}

.header-area {
	padding-bottom:0px;
	margin-top:70px;
}

.header-left {
    display: block;
    border-radius: 0px 0px 0px 0px;
    text-align: center;
    padding: 50px 0px 50px 0px;
}
.header-left img {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0px;
	width: 90%;
	height: 90%;
	margin: 0 auto;
	display: block;
}

.header-manu {
	text-align: right;
	margin-top: 10px;
	margin-right: 10px;
	top: 10px;
	position: absolute;
	right: 10px;
}

.mobile-manu {

	top: 22px;
	right: 32px;
	display: inline-block;
	margin-right: 57px;
}

.main-manu ul li a {
	text-decoration: none;
	font-size: 25px;
	margin-right: 26px;
}

.user-name-contant {
	margin-left: 0;
	margin-bottom:0px;
}
.user-name h2 {
	font-size: 23px;
	margin-top: 8px;
	text-align: center;
}
.user-content {
	text-align: center;
}
.user-name h2 {

	font-size: 53px;
	margin-top: 50px;
	text-align: center;
}
.text-color span {
    margin-left: 20px;
}
.about-info i {
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 0px;
}
.about {
    margin: 80px 0px;
}
.about-left-info {
	width: 50%;
	padding-bottom: 0px;
}
.about-contact {
	margin-left: 0;
	margin-top: 0;
	text-align: center;
}
.about-info {
	margin-right: 0;
}
.about-info p {

	font-size: 14px;

}
.about-me {
	margin-left: 0;
	margin-top: 19px;
}
.about-singal-title {
	margin-bottom: 0;
}
.about-title {
	width:100%;
	text-align: center;
	margin: 0 auto;
}
.about-title h2 {
	font-size: 33px;
	 margin-bottom: 15px;


}

.about-title p {
    font-size: 15px;
    margin-bottom: 16px;
    text-align: left;
    width: 93%;
    margin: 0 auto;
    line-height: 26px;
}
.about-bottom {
	margin-left: 0;
	margin-top: 22px;
	margin-bottom: 15px;
	text-align: center;
}
.about-right-info {
	overflow: hidden;
	display: inline-block;
	width: 50%;
}
.about-right {
    width: 100%;
    display: block;
    padding: 73px 0px 128px 0px;
}
.skill-title {
	padding-top: 0px;
	margin-top:0px;
	display: block;
	padding-left: 0;
	text-align: center;
}
.skill-title h2 {
	font-size: 35px;
}
.skill-title h2 {
	text-align: center;
	font-size: 33px;	
}
.skill-progress {
	width:84%;
	margin-left: 20px;
	padding-bottom: 0;
	margin: 0 auto;
}
.signal-progress-ber-area h3 {
	font-size: 15px;
}
.start-progress-ber {
	margin-top: 50px;
	padding-bottom: 0px;
}
.services-left {
	width: 100%;
	margin-top: 0px;
}
.sengal-services {
    width: 49%;
    margin-bottom: 10px;
    padding-bottom: 0px;
    padding: 50px 0px;
    height: auto;
}
.sengal-services:nth-last-child(2n+0) {
    margin-right: 10px;
}
.sengal-services-icon {
	margin-top: 0px;
	margin-bottom: 8px;
}
.sengal-services-title {
	text-align: center;
	margin-bottom: 5px;
}
.singal-services-content {
	width: 93%;
}
.singal-services-content p {
	font-size: 15px;
}
.services-right {
	width: 100%;
}
.services-right-title {
	display: block;
	margin-left: 0;
}
.services-right-singal-title {
	margin-top: 50px;
}
.services-right-singal-title h2 {
	font-size: 33px;
	margin-bottom: 15px;
	text-align: center;
}
.services-right-title p {
	font-size: 15px;
	text-align: left;
	width: 93%;
	margin-left:0px;
	line-height: 26px;
	display: block;
	margin: 0 auto;
}
.portfolio-left {
	width: 100%;
	padding-bottom: 0px;
}
.singal-portfolio {
	display: block;
	margin-left: 0px;
}
.portfolio {
    margin:80px 0px;
}
.portfolio-title {
	margin-top: 0;
}
.portfolio-title h2 {
	font-size: 33px;
	margin-bottom: 10px;
	text-align: center;
}
.portfolio-content {
	width: 93%;
	line-height: 26px;
	text-align: left;
	margin-left: 0px;
	display: block;
	margin: 0 auto;
}
.portfolio-content p {
	margin-bottom: 13px;
	font-size: 15px;
}
.portfolio-link {
	margin-top: 20px;
	text-align: center;
	margin-bottom: 50px;
}
.portfolio-right {
	width:100%;
	padding-top: 0px;
}
.portfolio-right-img img {
	width: 370px;
	height: 370px;
}
.portfolio-right-img {

	width:49%;
	margin-right: 7px;

}
.portfolio-img-hover i {
	font-size: 20px;
}
.team-left {
	width: 100%;
    margin-top:0px;
}
.team-left-img {
	display: block;
	width:49%;
}
.team-left-img img {
	width: 100%;
}
.team-icon-hover i {
	font-size: 24px;
}
.singal-team-right {
	display: block;
	margin-left: 0;
	margin-bottom:0px;
}
.team-name-hover {
	margin-top: 88px;
	margin-left: 240px;
}
.team-right {
	padding-top: 0;
	display: block;
	width: 750px;
	margin: 0 auto;
}
.team-name-hover h2 {
	font-size: 15px;
}
.team-name-hover p {
	font-size: 13px;
}
.team-right-title h2 {
	font-size: 33px;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 50px;
}
.team-right-content p {
	text-align: left;
	width: 93%;
	margin-left: 0;
	margin:  0 auto;
	font-size: 15px;
	line-height: 26px;
}
.reviews-left {
	width: 100%;
}
.singal-reviews-left {
	margin-left: 0;
}
.reviews-left-title {
	margin-top: 0;
}
.reviews-left-title h2{
	font-size: 33px;
	text-align: center;
	margin-bottom: 15px;
}
.reviews-left-content {
	padding-bottom: 0;
	margin-bottom: 50px;
}
.reviews-left-content p {
	width: 93%;
	margin-left: 0px;
	display: block;
	text-align: left;
	margin: 0 auto;
	font-size: 15px;
	line-height: 26px;
}
.client-reviews-slide {
	width: 100%;
}
.singal-slide {
	overflow: hidden;
}
.reviews {
    margin: 80px 0px;
}
.reviews-client-info p {
	width: 100%;
}
.reviews-client-content {
	padding-bottom: 70px;
}
.reviews-client-img {
	text-align: center;
	padding-top: 50px;
}
.client-reviews-slide .owl-dots {
    bottom: 8%;
    right: 45%;
}
.footer-top {
    padding-top: 20px;
    padding-bottom: 0;
    width: 93%;
    font-size: 15px;
    line-height: 26px;
}
.footer-top-icon {
	margin-top: 20px;
	padding-bottom: 20px;
}

}




/* Mobile Layout: 320px. */

@media only screen and (max-width: 479px) {

.column {
	width:320px;
}
.slicknav_menu{
	display: block;
}

.header-area {
	padding-bottom:0px;
}
.header-left {
	display: block;
	border-radius: 0px 0px 0px 0px;
	text-align: center;
	padding: 15px 0px;
}
.header-left img {

	width: 90%;
	height: 90%;
	margin: 0 auto;
	padding:0px;

}
.floatleft{
	float:none;
}
.header-manu {
	margin-top: 0;
	margin-right: 0;
	display:none;
}
.user-name-contant {
	margin-left: 0;
}
.user-name h2 {
	font-size: 23px;
	margin-top: 8px;
	text-align: center;
}
.user-name h2 {

	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	margin-top: 30px;
	text-align: center;
}
.user-content {
	text-align: center;
}
.user-content p {

	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}
.about-left-info {
	width: 100%;
	padding-bottom: 0px;
}
.about-contact {
	text-align: left;
	margin-left: 0px;
	width: 226px;
	padding-top: 20px;
	margin:  0 auto;
}
.about-info {
	margin-right: 0;
}
.about-me {
    margin: 50px 0px 0px 0px;
}
.about-singal-title {
	margin-bottom: 15px;
}
.about-title {
	width: 320px;
	text-align: center;
	margin: 0 auto;
}
.about-title h2 {
	font-size: 33px;
	margin-left: -27px;
}
.about-title h2 {

	font-size: 25px;
}

.text-color span {
    margin-left: 15px;
}

.about-title p {
    font-size: 14px;
    margin-bottom: 10px;
    width: 93%;
    margin: 0 auto;
    padding-left: 0;
    text-align: left;
    line-height: 26px;
}
.about-bottom {
	margin-left: 0;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 5px;
}
.about-right-info {
	overflow: hidden;
	display: inline-block;
	width: 100%;
	margin: 50px 0px;
}
.about-right {
	width: 100%;
	display: block;
	padding: 50px 0px 20px 0px;
}
.skill-title {
	padding-top: 0;
	display: block;
	padding-left: 0;
	text-align: center;
}
.skill-title h2 {
	font-size: 31px;
	padding-top:0px;
	padding-bottom: 15px;
}
.skill-title h2 {
	text-align: center;
	font-size: 25px;
}
.skill-progress {
    width: 93%;
    margin-left: 0px;
    padding-bottom: 0;
    margin: 0 auto;
}
.signal-progress-ber-area h3 {
	font-size: 15px;
}
.start-progress-ber {
	margin-top: 22px;
	padding-bottom: 2px;
}
.signal-progress-ber {
    width: 93%;
}

.services-left {
	width: 100%;
}
.sengal-services {
	width: 100%;
	margin-bottom: 0px;
	padding-bottom:0px;
	height: auto;
	padding: 50px 0px !important;
}
.sengal-services:nth-child(n+3) {
    margin-bottom: 0px;
    padding: 0;
}
.sengal-services:nth-last-child(2n+0) {
    margin-right: 0px;
}
.sengal-services-icon {
	margin-top: 0px;
	margin-bottom: 8px;
}
.sengal-services-title {
	text-align: center;
	margin-bottom: 5px;
}
.singal-services-content {
	width: 300px;
}
.singal-services-content p {
	font-size: 15px;
}
.services-right {
	width: 100%;
}
.services-right-title {
	display: block;
	margin-left: 0;
}
.services-right-singal-title {
	margin-top: 0px;
}
.services-right-singal-title h2 {
	font-size: 25px;
	margin-bottom: 15px;
	text-align: center;
	margin-top: 50px;
}
.services-right-title p {
    font-size: 14px;
    text-align: inherit;
    width: 93%;
    margin-left: 0px;
    line-height: 26px;
    display: block;
    margin: 0 auto;
}
.portfolio-title h2 {
	font-size: 25px;
	margin-bottom: 15px;
	text-align: center;
	margin-top:0px;

}

.portfolio-left {
	width: 100%;
	padding-bottom: 0px;
	margin:50px 0px;
}
.singal-portfolio {
	display: block;
	margin-left: 0px;
}
.portfolio-title {
	margin-top: 0;
}
.portfolio-content {
	width: 93%;
	line-height: 28px;
	text-align: left;
	margin-left: 0px;
	display: block;
	margin: 0 auto;
}
.portfolio-content p {
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 26px;
}
.portfolio-link {
	margin-top: 20px;
	text-align: center;
}
.portfolio-right {
	width:100%;
	padding-top: 15px;
}
.portfolio-right-img img {
	width: 100%;
}
.portfolio-right-img {
	display: block;
	float: none;
}
.portfolio-img-hover i {

	font-size: 20px;
}
.team-left {
	width: 100%;
}
.team-left-img {
	display: block;
}
.team-left-img img {
	width: 100%;
}

.team-right-title h2 {
	font-size: 25px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 15px;
}

.team-icon-hover i {
	font-size: 24px;
}
.singal-team-right {
	display: block;
	margin-left: 0;
}
.team-name-hover {
	margin-top: 52px;
	display: inline-block;
	margin-left: 0;
	text-align: center;
}
.team-right {
	padding-top: 0;
	display: block;
	width: 320px;
	margin: 0 auto;
}
.team-left-img:nth-last-child(2n) {
    margin-right: 0px;
}

.team-name-hover h2 {
	font-size: 15px;
}
.team-name-hover p {
	font-size: 13px;
}

.team-right-content p {
    text-align: left;
    font-size: 14px;
    width: 93%;
    margin-left: 0px;
    line-height: 26px;
    margin: 0 auto;
}
.reviews-left {
	width: 100%;
}

.singal-reviews-left {
	margin-left: 0;
}
.reviews-left-title {
	margin-top: 0;
}
.reviews-left-title h2 {
	font-size: 25px;
	text-align: center;
	margin-bottom: 15px;
}
.reviews-left-content {
	padding-bottom: 0;
}
.reviews-left-content {
	padding-bottom: 0;
}
.reviews-left-content p {
    width: 93%;
    margin-left: 0px;
    display: block;
    text-align: inherit;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 26px;
}
.client-reviews-slide {
	width: 100%;
}
.reviews {
    margin: 50px 0px;
}
.singal-slide {
	overflow: hidden;
}
.reviews-client-info p {
	width: 96%;
	font-size: 14px;
	line-height: 26px;


}
.reviews-client-content {
	padding-bottom: 80px;
}
.reviews-client-img {
	text-align: center;
	padding-top: 50px;
}
.client-reviews-slide .owl-dots {
	bottom: 50px;
	right: 110px;
}
.footer-icon-con p {
    font-size: 14px;
    line-height: 26px;
}
.footer-top {
	padding-bottom: 0;
	width: 283px;
	padding-top: 26px;
}
.footer-top-icon {
	margin-top: 30px;
	padding-bottom: 30px;
}

}







/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

.column {
	width:450px;
}

.slicknav_menu{
	display: block;
}

.header-area {
	padding-bottom:0px;
}
.header-left {
	display: block;
	border-radius: 0px 0px 0px 0px;
	text-align: center;
	padding: 30px 0px 30px 0px;
}
.header-left img {

	width: 90%;
	height: 90%;
	margin: 0 auto;
	padding: 0px;


}
.floatleft{
	float:none;
}
.header-manu {
	margin-top: 0;
	margin-right: 0;
	display:none;
}
.user-name-contant {
	margin-left: 0;
}
.user-name h2 {
	font-size: 23px;
	margin-top: 8px;
	text-align: center;
}
.user-name h2 {

	font-family: 'Poppins', sans-serif;
	font-size: 35px;
	margin-top: 40px;
	text-align: center;
}
.user-content {
	text-align: center;
}
.user-content p {

	font-size: 14px;
	text-align: center;
	margin-top: 10px;

}
.about-info i {
    margin-right: 3px;
    margin-left: 12px;
    margin-top: 4px;
}
.about-left-info {
	width: 100%;
	padding-bottom: 0px;
}
.about-contact {
	margin-top: 30px;
	text-align: center;
	margin-left:0;
}
.about-info {
	margin-right: 0;
}
.about-me {
	margin-left: 0;
	margin-top: 50px;
}
.about-singal-title {
	margin-bottom: 10px;
}
.about-title {
	width: 400px;
	text-align: center;
	margin: 0 auto;
}
.about-title h2 {
	font-size: 33px;
	margin-left: -27px;
}
.about-title h2 {

	font-size: 31px;
}
.about-title p {
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 0;
    text-align: left;
}
.about-bottom {
	margin-left: 0;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 0px;
}
.about-right-info {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    margin: 50px 0px;
}
.about-right {
	width: 100%;
	display: block;
	padding: 50px 0px 20px 0px;
}
.skill-title {
	padding-top: 0;
	display: block;
	padding-left: 0;
	text-align: center;
}
.skill-title h2 {
	font-size: 31px;
	padding-top: 0px;
	padding-bottom: 15px;
	text-align: center;
}

.skill-progress {
	width: 93%;
	margin-left: 0px;
	padding-bottom: 0;
	margin: 0 auto;
}
.signal-progress-ber-area h3 {
	font-size: 15px;
}
.start-progress-ber {
	margin-top: 22px;
	padding-bottom: 2px;
}
.services-left {
	width: 100%;
}
.sengal-services {
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 0px;
	height: auto;
	padding: 60px 0px !important;
}
.sengal-services:nth-child(n+3) {
	margin-bottom: 10px;
}

.sengal-services-icon {
	margin-top: 0px;
	margin-bottom: 8px;
}
.sengal-services-title {
	text-align: center;
	margin-bottom: 5px;
}
.singal-services-content {
	width: 93%;
}
.singal-services-content p {
	font-size: 16px;
}
.services-right {
	width: 100%;
}
.services-right-title {
	display: block;
	margin-left: 0;
}
.services-right-singal-title {
	margin-top: 0px;
}
.text-color span {
    margin-left: 20px;
}
.sengal-services:nth-last-child(2n+0) {
    margin-right: 0px;
}
.services-right-singal-title h2 {
	font-size: 31px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 15px;
	text-align: center;
	margin-top: 50px;
}
.services-right-title p {
    font-size: 16px;
    text-align: left;
    width: 93%;
    margin-left: 0px;
    line-height: 28px;
    display: block;
    margin: 0 auto;
}
.portfolio-title h2 {

	font-size: 31px;
	margin-bottom: 15px;
	text-align: center;
	margin-top:50px;

}

.portfolio-left {
	width: 100%;
	padding-bottom: 0px;
}
.singal-portfolio {
	display: block;
	margin-left: 0px;
}
.portfolio-title {
	margin-top: 0;
}
.portfolio-title h2 {
	font-size: 31px;
	margin-bottom: 15px;
	text-align: center;
}
.portfolio-content {
    width: 93%;
    line-height: 28px;
    text-align: left;
    margin-left: 0;
    display: block;
    margin: 0 auto;
}
.portfolio-content p {
	margin-bottom: 13px;
}
.portfolio-link {
	margin-top: 20px;
	text-align: center;
}
.portfolio-right {
	width:100%;
	padding-top: 15px;
}
.portfolio-right-img img {
	width: 100%;
}
.portfolio-right-img {
	display: block;
	float: none;
}
.portfolio-img-hover i {
	font-size: 20px;
}
.team-left {
	width: 100%;
}
.team-left-img {
	display: block;
	float: none;

}
.team-left-img img {
	width: 100%;
}
.team-right-title h2 {
	font-size: 31px;
	margin-bottom: 15px;
	margin-top: 50px;
	text-align: center;
}
.team-left-img:nth-last-child(2n) {
    margin-right: 0px;
}
.team-icon-hover i {
	font-size: 24px;
}
.singal-team-right {
	display: block;
	margin-left: 0;
}
.team-name-hover {
	margin-top: 121px;
	display: inline-block;
	margin-left: 217px;
	text-align: center;
}
.team-right {
    padding-top: 0;
    display: block;
    width: 100%;
    margin: 0 auto;
}
.team-name-hover h2 {
	font-size: 15px;
}
.team-name-hover p {
	font-size: 13px;
}
.team-right-title h2 {
	font-size: 31px;
	text-align: center;
	margin-bottom: 10px;
}
.team-right-content p {
    text-align: left;
    width: 93%;
    margin: 0 auto;
}
.reviews-left {
	width: 100%;
}
.reviews-left-title h2 {
	font-size: 31px;
	margin-bottom: 15px;
	text-align: center;
	margin-top: 50px;
}
.singal-reviews-left {
	margin-left: 0;
}
.reviews-left-title {
	margin-top: 0;
}
.reviews-left-title h2 {
	font-size: 31px;
	text-align: center;
	margin-bottom: 10px;
}
.reviews-left-content {
	padding-bottom: 0;
}

.reviews-left-content p {
	width: 93%;
	display: block;
	text-align: left;
	margin: 0 auto;
	margin-bottom:50px;
}
.client-reviews-slide {
	width: 100%;
	margin-bottom: 50px;
}
.singal-slide {
	overflow: hidden;
}
.singal-slide {
    padding-bottom: 40px;
}
.reviews-client-info p {
	width: 93%;
}
.reviews-client-content {
	padding-bottom: 55px;
}
.reviews-client-img {
	text-align: center;
	padding-top: 50px;
}
.client-reviews-slide .owl-dots {
    bottom: 60px;
    right: 0;
    left: 0;
    text-align: center;
}

.footer-top {
	padding-bottom: 0;
	width: 400px;
	padding-top: 26px;
}
.footer-top-icon {
	margin-top: 30px;
	padding-bottom: 30px;
}
.footer-bottom p {

	padding-top: 20px;
	padding-bottom: 20px;

}

}